<% provide(:title, "Log in") %>
<div class="row justify-content-center">
  <div class="col-md-8 bg-light">
    <h1 class="text-center font-weight-bolder font-italic bg-success">GAMERES</h1>
   <h1>Log in</h1>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline offset-1" do %>
        <%= f.check_box :remember_me %>
        <span>コンピュータに記憶させますか？</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>まだ登録していなければ <%= link_to "登録はこちらから！", signup_path %></p>
  </div>
</div>