<% provide(:title, "Edit user") %>
<% provide(:url, user_path) %>
<% provide(:button_text, "編集完了！") %>


<div class="row">
  <div class="col-sm-6 col-sm-offset-3 bg-light">
<h1 class="bg-success font-weight-bold text-center">ユーザー編集</h1>
  <%= form_for @user,:url => {:action => 'update'}, :html => {:multipart => true} do |f| %>
      <%= image_tag @user.image.url, class: 'profile-image' %>
      <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png, image/jpg' %>
      <%= f.submit "変更", class: "btn btn-primary" %>
  <% end %>
    <%= render 'form' %>
  </div>
</div>