<% provide(:title, @title) %>
<div class="row">
 <aside class="col-sm-3">
  <section class="user_info">
    <%= image_tag @micropost.user.image.url, class: 'profile-post-image mt-2 mr-2' %>
    <h1><%= @user.name %></h1>
    <span><%= link_to "マイページ", @user %></span>
    <span><b>投稿:</b> <%= @user.microposts.count %></span>
  </section>
  <section class="stats">
    <%= render 'shared/stats' %>
    <%= render 'layouts/leftbar' %>
    <% if @users.any? %>
     <div class="user_avatars">
      <% @users.each do |user| %>
       <%= link_to image_tag(user.image.url,  class: "profile-post-image mt-2 mr-2"), user %>
      <% end %>
     </div>
    <% end %>
  </section>
 </aside>
 
 <div class="col-sm-6 bg-light">
  <h1 class="bg-success text-center font-weight-bold"><%= @title %></h1>
   <% if @users.any? %>
    <ul class="users follow" style="list-style-type: none">
     <%= render @users %>
    </ul>
    <%= will_paginate %>
   <% end %>
 </div>
 
 <div class="col-sm-3">
  <%= render 'layouts/rightbar' %>
 </div>
</div>