<p id="notice"><%= notice %></p>
<% provide(:title, "TagIndex") %>
<div class="row">
 <div class="col-sm-3">
<% if logged_in? %>
   <aside class="mb-4">
    <section class="user_info">
     <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
     <%= render 'shared/stats' %>
    </section>
   </aside>
<% end %>
   <%= render 'layouts/leftbar' %>
  </div>
<!--　中央　-->
<% if logged_in? %>
  <div class="center col-sm-6 bg-light">
   <h2 class="bg-success text-center font-weight-bold">HOME</h2>
   <div class="row border border-bottom">
    <!-- <section class="micropost_form">
     <%#= render 'shared/micropost_form' %>
    </section>-->
   </div>
<!--　タブ実装　-->
   <div class="p-3">
    <h3 class="text-center">Micropost Feed</h3>
    <ul class="nav nav-tabs　nav-justified">
     <li class="nav-item">
      <a href="#tab1" class="nav-link font-weight-bold" data-toggle="tab">フォロー投稿一覧</a>
     </li>
     <li class="nav-item">
      <a href="#tab2" class="nav-link font-weight-bold" data-toggle="tab"><%= tag.name(params[:tag]) %></a>
     </li>
    </ul>
<!--　タブ内容　-->
    <div class="tab-content">
     <div id="tab1" class="tab-pane">
      <div class="col-sm-12">
     　　<%= render 'shared/feed' %>
    　</div>
     </div>
     <div id="tab2" class="tab-pane active">
      <div class="col-sm-12">
     　　<%= render 'shared/tags_feed' %>
    　</div>
    </div>
   </div>
<!--　各投稿　-->
  </div>
  </div>
  
<% end %>
 <div class="col-sm-3">
  

   <%= render 'layouts/rightbar' %>
 </div>
</div>
<%= javascript_pack_tag "static_pages" %>
    