<!--　右側　-->
    <div class="rightbar col-md-3">
     <!-- <%= link_to "signup now!",contact_path,class:"btn btn-primary col-md-12" %> -->
     <%= link_to image_tag("syadoba.png",class: "btn btn-success col-md-12", alt: "Logo" ),  contact_path %>
      <form>serch form
        <input type="text">
      </form>
      
      <div class="list-group" style="max-width: 400px;">
        <%= link_to "game1", "#", class:"list-group-item list-group-item-action active " %>
        <%= link_to "game2", "#", class:"list-group-item list-group-item-action " %>
        <%= link_to "game3", "#", class:"list-group-item list-group-item-action " %>
        <%= link_to "game4", "#", class:"list-group-item list-group-item-action " %>
        <%= link_to "game5", "#", class:"list-group-item list-group-item-action " %>
        <%= link_to "game6", "#", class:"list-group-item list-group-item-action " %>
        <%= link_to "game7", "#", class:"list-group-item list-group-item-action " %>
        <%= link_to "game8", "#", class:"list-group-item list-group-item-action " %>
        <%= link_to "game9", "#", class:"list-group-item list-group-item-action " %>
        <%= link_to "game10", "#", class:"list-group-item list-group-item-action " %>
      </div>
    </div>